<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="srcDir" value="D:\Hundsun\svn\code\Sources\DevCodes\经纪业务运营平台V21\通用数据\Arch"/>
    <add key="tarDir" value="D:\Sources\HSEAP\Sources\DevCodes\档案管理平台\通用数据\Arch"/>
  </appSettings>
</configuration>